{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Menu</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'toastr/toastr.min.css' %}" media="all">
	<script type="text/javascript" src="{% static 'toastr/toastr.min.js' %}"></script>  
	{% tailwind_css %}
</head>

<body class="bg-white font-serif leading-normal tracking-normal">
	{% block content %}
	{% endblock content %}
</body>

</html>