{% extends "base.html" %}
{% block title %} Menu-Home {% endblock title%}
{% block content %}
<div class="flex flex-col items-center justify-center bg-slate-100">
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
                <div class="form-group">
                    <label class="small mb-1">Username</label>
                    {{ form.username }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
                <div class="form-group">
                    <label class="small mb-1">Password</label>
                    {{ form.password }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
                <div class="form-group">
                    <!-- Add a Remember me functionality -->
                    {{ form.remember_me }}
                    <label> Remember me</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
                <div class="form-group mt-0 mb-1">
                    <button name="login" class="col-md-12 btn btn-dark" id="login">Sign in</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}