{% load static %}

<div class="flex flex-1 bg-[#FFF5F5] items-center flex-col">
    <div class="flex flex-col text-center">
        <span class="font-semibold mt-[73px] text-[#212121] text-[40px]">Make more beautiful UI</span>
        <span class="text-[#F33F34] text-[40px]">Menu Effective</span>
    </div>
    <div class="mt-[30px]">
        <img src="{% static 'images/apple-iphone-13-mini-2021-medium 1.png' %}" alt="apple-iphone-13-mini-2021-medium 1"
            class="w-[372px] h-[750px]">
    </div>
    <div class="mt-[30px] gap-[13px] h-[20px]">

    </div>
</div>