{% extends "base.html" %}
{% block content %}
<div class="flex flex-row">
    <div class="w-[778px] flex flex-col items-center p-[60px] bg-white">
        <span class='font-sans text-center font-semibold text-[40px] leading-[52px]'>Change Your Password</span>
        {% if user_form.errors %}
        <div class="flex flex-col items-center gap-y-[3px] mt-[20px]">
            {% for key, value in user_form.errors.items %}
            <span class="text-[#F33F34] text-[18px] leading-[21px] font-normal">{{ key }} {{ value }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <div class="mt-[30px] flex flex-col w-full">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex flex-col gap-y-[20px]">
                    <div class="flex flex-col gap-y-[10px]">
                        <span class="text-[#212121] font-semibold text-[18px]">Old Password:</span>
                        <input type="password" name="old_password" autocomplete="new-password"
                            class="w-full h-[48px] border border-[#CCCCCC] rounded-[8px] bg-transparent focus:outline-none outline-none px-[15px] text-[#212121] text-[16px]"
                            required id="id_old_password" placeholder="Enter Old Password" />
                    </div>

                    <div class="flex flex-col gap-y-[10px]">
                        <span class="text-[#212121] font-semibold text-[18px]">New Password:</span>
                        <input type="password" name="new_password1" autocomplete="new-password"
                            class="w-full h-[48px] border border-[#CCCCCC] rounded-[8px] bg-transparent focus:outline-none outline-none px-[15px] text-[#212121] text-[16px]"
                            required id="id_new_password1" placeholder="Enter New Password" />
                    </div>

                    <div class="flex flex-col gap-y-[10px]">
                        <span class="text-[#212121] font-semibold text-[18px]">New Password Confirmation:</span>
                        <input type="password" name="new_password2" autocomplete="new-password"
                            class="w-full h-[48px] border border-[#CCCCCC] rounded-[8px] bg-transparent focus:outline-none outline-none px-[15px] text-[#212121] text-[16px]"
                            required id="id_new_password2" placeholder="Confirm New Password" />
                    </div>

                    <div class="flex flex-row gap-x-[40px]">
                        <button type="submit" id="reset"
                            class="bg-slate-200 hover:bg-slate-300 w-[200px] h-[57px] p-[10px] text-slate-700 font-bold rounded-[8px] hover:text-[18px] duration-100">Update
                            Password</button>
                        <div class="items-center justify-center mt-4 text-[20px] leading-[21px] font-normal">
                            <span class="text-[#212121]">Go back to
                            </span>
                            <a href="{% url 'home:home' %}"
                                class="text-[#F33F34] underline-offset-1 border-red-400 border-b-2">Home</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "side.html" %}
</div>
{% endblock content %}