{% extends "base.html" %}
{% block content %}
<div class="flex flex-row">
    <div class="w-[778px] flex flex-col items-center p-[60px] bg-white">
        <span class='font-sans text-center font-semibold text-[40px] leading-[52px]'>Forgot Password?</span>
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="mt-[30px] flex flex-col w-full">
            <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <div class="flex flex-col gap-y-[20px]">

                    <div class="flex flex-col gap-y-[10px]">
                        <span class="text-[#212121] font-semibold text-[18px]">Mail</span>
                        {{ form.email }}
                    </div>
                    <button type="submit"
                        class="bg-slate-200 hover:bg-slate-300 w-[115px] h-[57px] p-[10px] text-slate-700 font-bold rounded-[8px] hover:text-[18px] duration-200">Submit</button>

                    <div
                        class="flex flex-row gap-x-[40px] items-center justify-center mt-4 text-[20px] leading-[21px] font-normal">
                        <a href="{% url 'account:signup' %}" class="text-[#212121]">Create A New Account</a>
                        <a href="{% url 'account:signin' %}" class="text-[#212121]">Back To Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "side.html" %}
</div>
{% endblock content %}