{% extends "base.html" %}

{% block content %}
<div class="flex flex-row">
    <div class="w-[778px] flex flex-col items-center p-[60px] bg-white">
        <span class='font-sans text-center font-semibold text-[40px] leading-[52px]'>Sign Up</span>
        <div class="flex flex-row items-center gap-x-[5px] mt-[20px]">
            <span class="text-[#212121] text-[18px] leading-[21px] font-normal">This is created by </span>
            <span class="text-[#F33F34] text-[18px] leading-[21px] font-normal">Oskar</span>
        </div>
        <div class="mt-[30px] flex flex-col w-full">
            <form method="POST">
                {% csrf_token %}
                <div class="flex flex-col gap-y-[20px]">
                    <div class="flex flex-col gap-y-[10px]">
                        <span class="text-[#212121] font-semibold text-[18px]">Username</span>
                        {{ form.username }}
                        {% if form.errors.username %}
                        <strong class="text-red-700">{{ form.errors.username }}</strong>
                        {% endif %}
                    </div>

                    <div class="flex flex-col gap-y-[10px]">
                        <span class="text-[#212121] font-semibold text-[18px]">Mail</span>
                        {{ form.email }}
                        {% if form.errors.email %}
                        <strong class="text-red-700">{{ form.errors.email }}</strong>
                        {% endif %}
                    </div>

                    <div class="flex flex-col gap-y-[10px]">
                        <span class="text-[#212121] font-semibold text-[18px]">Password</span>
                        {{ form.password1 }}
                        {% if form.errors.password2 %}
                        <strong class="text-red-700">{{ form.errors.password2 }}</strong>
                        {% endif %}
                    </div>

                    <div class="flex flex-col gap-y-[10px]">
                        <span class="text-[#212121] font-semibold text-[18px]">Confirm Password</span>
                        {{ form.password2 }}
                    </div>

                    <div class="flex flex-row gap-x-[40px]">
                        <button type="submit"
                            class="bg-slate-200 hover:bg-slate-300 w-[115px] h-[57px] p-[10px] text-slate-700 font-bold rounded-[8px] hover:text-[18px] duration-200">Sign
                            Up</button>
                        <div class="items-center justify-center mt-4 text-[20px] leading-[21px] font-normal">
                            <span class="text-[#212121]">Have an account? Go to
                            </span>
                            <a href="{% url 'account:signin' %}"
                                class="text-[#F33F34] underline-offset-1 border-red-400 border-b-2">Sign in</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "side.html" %}
</div>
{% endblock content %}