{% extends "base.html" %}

{% block content %}
<div class="flex flex-row">
    <div class="w-[778px] flex flex-col items-center p-[60px] bg-white">
        <span class='font-sans text-center font-semibold text-[40px] leading-[52px]'>Sign Up</span>
        <div class="flex flex-row items-center gap-x-[5px] mt-[20px]">
            <span class="text-[#212121] text-[18px] leading-[21px] font-normal">This is created by </span>
            <span class="text-[#F33F34] text-[18px] leading-[21px] font-normal">Oskar</span>
        </div>
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="mt-[30px] flex flex-col w-full">
            <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <div class="flex flex-col gap-y-[20px]">
                    <div class="flex flex-col gap-y-[10px]">
                        <span class="text-[#212121] font-semibold text-[18px]">Username</span>
                        {{ form.username }}
                    </div>

                    <div class="flex flex-col gap-y-[10px]">
                        <span class="text-[#212121] font-semibold text-[18px]">Mail</span>
                        {{ form.email }}
                    </div>

                    <div class="flex flex-col gap-y-[10px]">
                        <span class="text-[#212121] font-semibold text-[18px]">Password</span>
                        {{ form.password1 }}
                    </div>

                    <div class="flex flex-col gap-y-[10px]">
                        <span class="text-[#212121] font-semibold text-[18px]">Confirm Password</span>
                        {{ form.password2 }}
                    </div>

                    <div class="flex flex-row gap-x-[40px]">
                        <button type="submit"
                            class="bg-slate-200 hover:bg-slate-300 w-[115px] h-[57px] p-[10px] text-slate-700 font-bold rounded-[8px] hover:text-[18px] duration-200">Sign
                            Up</button>
                        <div class="items-center justify-center mt-4 text-[20px] leading-[21px] font-normal">
                            <span class="text-[#212121]">Have an account? Go to
                            </span>
                            <a href="{% url 'account:signin' %}"
                                class="text-[#F33F34] underline-offset-1 border-red-400 border-b-2">Sign in</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="flex flex-1 bg-[#FFF5F5] items-center flex-col">
        <div class="flex flex-col text-center">
            <span class="font-semibold mt-[73px] text-[#212121] text-[40px]">Make more beautiful UI</span>
            <span class="text-[#F33F34] text-[40px]">Menu Effective</span>
        </div>
        <div class="mt-[30px]">
            <img src="/static/images/apple-iphone-13-mini-2021-medium 1.png" alt="apple-iphone-13-mini-2021-medium 1"
                class="w-[372px] h-[750px]">
        </div>
        <div class="mt-[30px] gap-[13px] h-[20px]">

        </div>
    </div>
</div>
{% endblock content %}